<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.xclenter.test.ui.startup.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="MonitorEclipse.actionSet"
            label="MonitorEclipse Action Set"
            visible="true">
         <menu
               id="xclenter"
               label="Monitor Eclipse">
            <separator
                  name="controlLog">
            </separator>
         </menu>
         <action
               class="com.xclenter.test.ui.actions.LogoutAction"
               id="xclenter.actions.controlLog.LogoutAction"
               label="Logout"
               menubarPath="xclenter/controlLog">
         </action>
         <action
               class="com.xclenter.test.ui.actions.UploadAction"
               id="xclenter.actions.controlLog.UploadAction"
               label="Upload"
               menubarPath="xclenter/controlLog">
         </action>
         <action
          	   class="com.xclenter.test.ui.actions.TestAction"	
               id="xclenter.actions.controlLog.TestAction"
               label="Test"
               menubarPath="xclenter/controlLog">
         </action>
         <action
        	   class="com.xclenter.test.ui.actions.DownloadAction"
               id="xclenter.actions.controlLog.DownloadAction"
               label="Download"
               menubarPath="xclenter/controlLog">
         </action>
         <action
               class="com.xclenter.test.ui.actions.LoginAction"
               id="xclenter.actions.controlLog.LoginAction"
               label="Login"
               menubarPath="xclenter/controlLog">
         </action>
      </actionSet>
   </extension>

</plugin>
