<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.xclenter.test.ui.startup.Startup">
      </startup>
   </extension>
   <!--<extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="MonitorEclipse.actionSet"
            label="MonitorEclipse Action Set"
            visible="true">
         <menu
               id="xclenter"
               label="Monitor Eclipse">
            <separator
                  name="controlLog">
            </separator>
         </menu>
          <action
               class="com.xclenter.test.ui.actions.StopLogAction"
               icon="icons/sample.gif"
               id="xclenter.actions.controlLog.StopLogAction"
               label="Stop"
               menubarPath="xclenter/controlLog"
               toolbarPath="controlLog"
               tooltip="Stop">
         </action>
         <action
               class="com.xclenter.test.ui.actions.StartLogAction"
               icon="icons/sample.gif"
               id="xclenter.actions.controlLog.StartLogAction"
               label="Start"
               menubarPath="xclenter/controlLog"
               toolbarPath="controlLog"
               tooltip="Start">
         </action>
      </actionSet>
   </extension> -->

</plugin>
